//- box icon

mixin box-icon-creative( obj )
	article.box-icon-creative&attributes( attributes )
		.box-icon-creative-body
			.box-icon-creative-icon( class= obj.icon )
			p.box-icon-creative-title: a( href='#' )!= obj.title

mixin box-icon-modern( obj )
	article.box-icon-modern&attributes( attributes )
		.box-icon-modern-icon( class= obj.icon )
		h5.box-icon-modern-title: a( href= links.singleService )= obj.title
		p.box-icon-modern-text= obj.text
		a.box-icon-modern-link( href= links.singleService ) Read More
			span.icon.mdi.mdi-arrow-right

mixin box-icon-classic( obj )
	article.box-icon-classic&attributes( attributes )
		.unit.unit-spacing-lg( class= obj.unit )
			.unit-left: .box-icon-classic-icon( class= obj.icon )
			.unit-body
				h5.box-icon-classic-title: a( href= links.singleService )= obj.title
				p.box-icon-classic-text= obj.text

mixin box-icon-megan( obj )
	article.box-icon-megan&attributes( attributes )
		.box-icon-megan-header: .box-icon-megan-icon( class= obj.icon )
		h5.box-icon-megan-title: a( href= links.singleService )= obj.title
		p.box-icon-megan-text= obj.text

mixin box-icon-erin( obj )
	article.box-icon-erin&attributes( attributes )
		.box-icon-erin-icon
			block
		h6.box-icon-erin-title: a( href= links.singleService )= obj.title
		.box-icon-erin-decor
		p.box-icon-erin-text= obj.text

mixin svg-icon-1
	svg( x='0px', y='0px', width='38px', height='31px', viewbox='0 0 38 31' )
		path(fill-rule='evenodd', clip-rule='evenodd', fill='transparent', d='M28.286,24.7v0.966h8.685c0.63,0,1.026,0.271,1.02,0.947\
		l-0.001,3.725c-0.002,0.623-0.59,0.693-0.878,0.169l-1.626-3.391c-0.1-0.223-0.334-0.267-0.513-0.107l-0.247,0.237\
		c-0.301,0.298-0.707,0.49-1.251,0.506h-5.19v0.894c0,1.345-1.098,2.45-2.435,2.45H6.485c-3.878,0-6.494-2.631-6.494-6.532v-5.279\
		c-0.003-0.596,0.692-0.712,0.941-0.208c1.65,3.29,4.563,5.829,8.097,6.974c-4.161-2.393-6.965-6.899-6.965-12.066\
		c0-7.67,6.181-13.888,13.806-13.888c3.528,0,6.746,1.332,9.186,3.522c0.667-0.754,1.694-0.65,2.346,0.094\
		C27.895,4.274,28.428,4.786,29,5.246c0.574,0.461,1.187,0.871,1.841,1.229c0.893,0.491,1.214,1.524,0.549,2.36l-1.97,2.481\
		c0.167,0.863,0.256,1.756,0.256,2.669c0,5.364-3.024,10.017-7.449,12.331c1.909-0.366,3.678-1.129,5.221-2.198\
		C27.836,23.853,28.289,24.119,28.286,24.7L28.286,24.7z M6.607,10.555h1.489v2.105c0,0.48,0.387,0.869,0.864,0.869\
		c0.477,0,0.864-0.389,0.864-0.869v-2.105h1.727v2.105c0,0.48,0.387,0.869,0.864,0.869c0.477,0,0.864-0.389,0.864-0.869v-2.105h1.728\
		v3.591c0,0.48,0.387,0.869,0.864,0.869c0.477,0,0.864-0.389,0.864-0.869v-3.591h1.728v2.105c0,0.48,0.387,0.869,0.864,0.869\
		c0.477,0,0.864-0.389,0.864-0.869v-2.105h1.727v2.105c0,0.48,0.387,0.869,0.864,0.869c0.477,0,0.864-0.389,0.864-0.869v-2.105h1.49\
		c-1.388-3.793-5.012-6.498-9.264-6.498C11.619,4.056,7.995,6.761,6.607,10.555L6.607,10.555z M25.135,17.414H6.607\
		c1.388,3.793,5.012,6.498,9.264,6.498C20.123,23.912,23.747,21.207,25.135,17.414z')
		path(fill-rule='evenodd', clip-rule='evenodd', d='M28.286,24.604v0.966h8.685c0.63,0,1.026,0.271,1.02,0.947l-0.001,3.725\
		c-0.002,0.623-0.59,0.693-0.878,0.169l-1.626-3.391c-0.1-0.223-0.334-0.267-0.513-0.107l-0.247,0.237\
		c-0.301,0.298-0.707,0.49-1.251,0.506h-5.19v0.894c0,1.345-1.098,2.45-2.435,2.45H6.485c-3.878,0-6.494-2.631-6.494-6.532v-5.279\
		c-0.003-0.596,0.692-0.712,0.941-0.208c1.65,3.29,4.563,5.829,8.097,6.974c-4.161-2.393-6.965-6.899-6.965-12.066\
		C2.065,6.218,8.246,0,15.871,0c3.528,0,6.746,1.332,9.186,3.522c0.667-0.754,1.694-0.65,2.346,0.094\
		C27.895,4.178,28.428,4.69,29,5.15c0.574,0.461,1.187,0.871,1.841,1.229c0.893,0.491,1.214,1.524,0.549,2.36l-1.97,2.481\
		c0.167,0.863,0.256,1.756,0.256,2.669c0,5.364-3.024,10.017-7.449,12.331c1.909-0.366,3.678-1.129,5.221-2.198\
		C27.836,23.757,28.289,24.023,28.286,24.604L28.286,24.604z M6.607,10.458h1.489v2.105c0,0.48,0.387,0.869,0.864,0.869\
		c0.477,0,0.864-0.389,0.864-0.869v-2.105h1.727v2.105c0,0.48,0.387,0.869,0.864,0.869c0.477,0,0.864-0.389,0.864-0.869v-2.105h1.728\
		v3.591c0,0.48,0.387,0.869,0.864,0.869c0.477,0,0.864-0.389,0.864-0.869v-3.591h1.728v2.105c0,0.48,0.387,0.869,0.864,0.869\
		c0.477,0,0.864-0.389,0.864-0.869v-2.105h1.727v2.105c0,0.48,0.387,0.869,0.864,0.869c0.477,0,0.864-0.389,0.864-0.869v-2.105h1.49\
		c-1.388-3.793-5.012-6.498-9.264-6.498C11.619,3.96,7.995,6.665,6.607,10.458L6.607,10.458z M25.135,17.318H6.607\
		c1.388,3.793,5.012,6.498,9.264,6.498C20.123,23.816,23.747,21.111,25.135,17.318z')

mixin svg-icon-2
	svg( x='0px', y='0px', width='42px', height='35px', viewbox='0 0 42 35' )
		path(fill-rule='evenodd', clip-rule='evenodd', fill='000', d='M4.188,17.662l1.949,0.79L1.333,3.507\
		C1.018,2.425,1.067,1.689,1.76,0.992l0.702-0.707c0.413-0.427,0.966-0.408,1.296,0.041l1.236,1.599\
		c0.166-0.007,0.333-0.004,0.513,0.009l10.271,0.604c2.131,0.189,3.27,0.715,4.315,2.459l2.671,4.555h-2.043\
		c-0.778,0-1.465,0.143-2.069,0.43l-0.589-0.837c-1.25-1.835-2.745-2.555-4.931-2.939L6.372,4.951l1.424,13.577\
		c0.087,0.803,0.051,1.325-0.409,2.012l-4.428,6.87c-0.24,0.349-0.693,0.303-0.856-0.089l-1.783-4.305\
		C-0.977,19.677,1.645,16.62,4.188,17.662L4.188,17.662z M13.419,29.245c-1.567,0.191-2.837,1.283-2.837,2.866\
		c0,1.583,1.27,2.866,2.837,2.866c7.358,0,14.716,0,22.075,0c1.567,0,2.837-1.283,2.837-2.866c0-1.583-1.27-2.675-2.837-2.866\
		C30.405,28.576,18.508,28.576,13.419,29.245L13.419,29.245z M13.449,30.685c0.783,0,1.419,0.642,1.419,1.433\
		c0,0.792-0.635,1.433-1.419,1.433s-1.419-0.642-1.419-1.433C12.03,31.327,12.665,30.685,13.449,30.685L13.449,30.685z\
		M35.464,30.685c0.784,0,1.419,0.642,1.419,1.433c0,0.792-0.635,1.433-1.419,1.433c-0.783,0-1.418-0.642-1.418-1.433\
		C34.046,31.327,34.681,30.685,35.464,30.685L35.464,30.685z M20.722,11.464c-1.391,0-2.218,0.672-2.603,2.022\
		c-0.681,2.461-1.677,7.676-1.702,11.324c0.011,1.164,0.712,2.022,2.002,2.022c7.419,0,14.838,0,22.257,0\
		c0.788,0.007,1.289-0.481,1.301-1.314v-4.246c0-0.857-0.5-1.321-1.301-1.314l-5.974,0c-0.936-0.005-1.454,0.324-1.717,1.215\
		c-0.414,1.367-0.853,2.726-1.318,4.076c0.02-0.137,0.03-0.283,0.03-0.437c0.063-3.775-0.063-7.55-0.378-11.324\
		c-0.102-1.383-0.992-2.022-2.305-2.022H20.722L20.722,11.464z M21.73,13.388c-0.974,0-1.553,0.47-1.822,1.416\
		c-0.477,1.722-1.174,5.372-1.191,7.926c0.012,1.257,0.965,1.679,2.001,1.052l7.681-4.647c0.888-0.551,1.127-1.146,1.073-2.255\
		c-0.04-0.692-0.088-1.384-0.146-2.076c-0.071-0.968-0.695-1.416-1.614-1.416H21.73z')

mixin svg-icon-3
	svg( x='0px', y='0px', width='42px', height='37px', viewbox='0 0 42 37' )
		path(fill='000', d='M38.076,35.723c1.096,2.322,4.656,1.234,3.789-1.307l-5.023-14.65l1.319-0.796\
		c1.226-0.831,1.304-1.992,0.421-3.12l-5.331-6.589c-0.359-0.444-0.758-0.693-1.157-0.783c0.42-0.534,0.723-1.164,0.87-1.854\
		c0.172-0.001,0.344,0.001,0.516,0.001c0.158,0,0.199-0.139,0.113-0.256l-0.36-0.475c-0.131-0.177-0.159-0.282-0.179-0.532\
		c-0.073-1.01-0.449-1.911-1.108-2.676c-0.434-1.811-3.177-3.19-5.547-2.51c-0.249,0.074-0.375,0.182-0.49,0.37l-0.211,0.364\
		c-0.072,0.12,0.011,0.25,0.149,0.206c0.572-0.226,1.201-0.352,1.862-0.352c0.998,0,1.925,0.286,2.694,0.776\
		c-1.516-0.691-3.28-0.457-4.596,0.555c-0.983,0.769-1.641,1.94-1.732,3.267c-0.019,0.242-0.047,0.343-0.211,0.506l-1.025,1.007\
		c-0.113,0.118-0.086,0.296,0.089,0.322c2.697,0.31,4.212-0.256,7.506-0.484c-2.332,0.58-3.766,1.172-5.15,1.619\
		c-0.153,0.05-0.191,0.225-0.071,0.359c0.824,0.924,2.02,1.505,3.35,1.505c0.435,0,0.854-0.062,1.252-0.177\
		c-0.113,0.292-0.19,0.614-0.223,0.96l-0.606,7.208L18.354,30.117c-1.523-3.117-3.24-6.022-5.9-6.022\
		c-4.018,0-5.887,6.633-8.179,10.606C3.681,35.849,4.192,37,5.558,37h6.896h6.896c1.367,0,1.877-1.151,1.283-2.3\
		c-0.458-0.794-0.899-1.694-1.344-2.626l7.927-8.893l0.022,0.038c0.566,0.952,1.793,1.262,2.739,0.693l5.656-3.415l-6.669,6.185\
		c-0.58,0.554-0.784,1.093-0.85,1.886l-0.523,6.217c-0.195,2.508,3.469,3.075,3.905,0.699l1.474-8.629\
		c0.103-0.549,0.779-0.585,0.986-0.145L38.076,35.723L38.076,35.723z M17.176,20.891l-1.336,1.674\
		c-0.397,0.498-1.034,0.278-1.094-0.272L14.6,20.948c-0.048-0.447,0.275-0.853,0.72-0.902l1.337-0.147\
		C17.188,19.841,17.557,20.414,17.176,20.891L17.176,20.891z M19.034,25.557l-1.589-0.818c-0.472-0.243-0.401-0.805,0.037-0.947\
		l1.07-0.348c0.356-0.116,0.742,0.083,0.857,0.441l0.346,1.076C19.892,25.389,19.487,25.79,19.034,25.557L19.034,25.557z\
		M0.276,23.599l1.128-1.943c0.335-0.578,1.029-0.449,1.175,0.111l0.359,1.371c0.12,0.456-0.154,0.928-0.608,1.047l-1.363,0.36\
		C0.426,24.689-0.044,24.153,0.276,23.599L0.276,23.599z M7.82,21.884l-0.379,2.218c-0.112,0.659-0.807,0.784-1.14,0.31l-0.814-1.157\
		c-0.271-0.385-0.179-0.923,0.204-1.195l1.151-0.818C7.3,20.916,7.928,21.252,7.82,21.884L7.82,21.884z M0.739,28.182l3.314-1.054\
		c0.985-0.313,1.651,0.562,1.238,1.361l-1.01,1.954c-0.335,0.65-1.139,0.906-1.786,0.569l-1.943-1.015\
		C-0.219,29.594-0.205,28.482,0.739,28.182L0.739,28.182z M30.543,12.282l3.588,4.434l-1.491,0.9L30.543,12.282z')

mixin svg-icon-4
	svg( x='0px', y='0px', width='32px', height='32px', viewbox='0 0 32 32' )
		path(fill='000', d='M31.98,31.469l-0.511-1.481c-0.116-0.339-0.127-0.445-0.127-0.794V12.831c0-1.916-0.894-3.057-2.942-3.057\
		h-1.955v3.059h0.274c1.042,0.004,1.528,0.627,1.524,1.604v6.621H4.998v-6.621c0.023-1.008,0.498-1.588,1.523-1.604h0.275V9.774H4.84\
		c-0.538,0-1.001,0.078-1.391,0.233c-1.036,0.411-1.55,1.362-1.55,2.825v12.724C0.772,26.115,0,27.267,0,28.597\
		C0,30.477,1.544,32,3.449,32c1.905,0,3.449-1.523,3.449-3.403c0-1.33-0.773-2.482-1.9-3.042v-2.204h23.245v5.843\
		c0,0.349-0.01,0.455-0.127,0.794l-0.511,1.481C27.532,31.75,27.664,32.001,27.98,32h3.625C31.922,32.001,32.054,31.75,31.98,31.469z\
		M3.449,30.115c-0.85,0-1.539-0.68-1.539-1.518c0-0.839,0.688-1.519,1.539-1.519c0.85,0,1.539,0.68,1.539,1.519\
		C4.988,29.435,4.299,30.115,3.449,30.115z M16.621,18.648c4.079,0,8.159-1.313,8.159-3.94V7.884c0-1.499-0.044-2.174-0.716-3.187\
		c-0.736-1.082-1.914-2.332-2.931-3.082c0.236-0.159,0.392-0.427,0.392-0.731C21.525,0.396,21.124,0,20.629,0h-8.016\
		c-0.495,0-0.896,0.396-0.896,0.885c0,0.304,0.155,0.572,0.392,0.731c-1.016,0.749-2.195,1.999-2.931,3.082\
		C8.506,5.711,8.462,6.385,8.462,7.884v6.824C8.462,17.335,12.541,18.648,16.621,18.648z')
