// Clients Classic
.clients-classic-wrap
	.row.no-gutters
		.col-sm-6.wow.fadeInLeft
			.clients-classic: a.clients-classic-figure( href='#' ): +img( 'clients-1-200x90.png' )
		.col-sm-6.wow.fadeInRight
			.clients-classic: a.clients-classic-figure( href='#' ): +img( 'clients-2-200x90.png' )
	.row.no-gutters
		.col-sm-6.wow.fadeInLeft
			.clients-classic: a.clients-classic-figure( href='#' ): +img( 'clients-3-200x90.png' )
		.col-sm-6.wow.fadeInRight
			.clients-classic: a.clients-classic-figure( href='#' ): +img( 'clients-4-200x90.png' )
	.row.no-gutters
		.col-sm-6.wow.fadeInLeft
			.clients-classic: a.clients-classic-figure( href='#' ): +img( 'clients-5-200x90.png' )
		.col-sm-6.wow.fadeInRight
			.clients-classic: a.clients-classic-figure( href='#' ): +img( 'clients-6-200x90.png' )