section.section.swiper-container.swiper-slider.swiper-slider-2.swiper-slider-3( data-loop='true', data-autoplay='5000', data-simulate-touch='false', data-slide-effect='fade' )
	.swiper-wrapper.text-sm-left
		.swiper-slide.context-dark( data-slide-bg='images/woodworking/slide-1-1920x753.jpg' )
			.swiper-slide-caption.section-md: .container: .row: .col-sm-9.col-md-8.col-lg-7.col-xl-6.offset-lg-1.offset-xxl-0
				h3.oh.swiper-title: span.d-inline-block( data-caption-animate='slideInUp', data-caption-delay='0' ) Affordable #[br]wooden solutions
				p.big.swiper-text( data-caption-animate='fadeInLeft', data-caption-delay='300' ) We value our clients and offer them highly affordable prices on services we provide.
				a.button.button-lg.button-primary.button-winona.button-shadow-2( href= links.services, data-caption-animate='fadeInUp', data-caption-delay='300' ) View our services

		.swiper-slide.context-dark( data-slide-bg='images/woodworking/slide-2-1920x753.jpg' )
			.swiper-slide-caption.section-md: .container: .row: .col-sm-8.col-lg-6.offset-lg-1.offset-xxl-0
				h3.oh.swiper-title: span.d-inline-block( data-caption-animate='slideInDown', data-caption-delay='0' ) Quality wood processing
				p.big.swiper-text( data-caption-animate='fadeInRight', data-caption-delay='300' ) Our team offers wood processing services to companies and individual clients.
				.button-wrap.oh: a.button.button-lg.button-primary.button-winona.button-shadow-2( href='services-2.html', data-caption-animate='slideInUp', data-caption-delay='0' ) View our services

		.swiper-slide.context-dark( data-slide-bg='images/woodworking/slide-3-1920x753.jpg' )
			.swiper-slide-caption.section-md: .container: .row: .col-sm-8.col-lg-6.offset-lg-1.offset-xxl-0
				h3.oh.swiper-title: span.d-inline-block( data-caption-animate='slideInLeft', data-caption-delay='100' ) Reliable wooden furniture
				p.big.swiper-text( data-caption-animate='fadeInUp', data-caption-delay='0' ) Our company offers custom-made furniture made of the best American wood.
				.button-wrap.oh: a.button.button-lg.button-primary.button-winona.button-shadow-2( href='services-3.html', data-caption-animate='slideInLeft', data-caption-delay='100' ) View our services

		.swiper-slide.context-dark( data-slide-bg='images/woodworking/slide-4-1920x753.jpg' )
			.swiper-slide-caption.section-md: .container: .row: .col-sm-8.col-lg-6.offset-lg-1.offset-xxl-0
				h3.oh.swiper-title: span.d-inline-block( data-caption-animate='slideInUp', data-caption-delay='0' ) Woodworking #[br]is Our Passion
				p.big.swiper-text( data-caption-animate='fadeInRight', data-caption-delay='300' ) Since 1980, we have been offering quality wooden products to our clients worldwide.
				.button-wrap.oh: a.button.button-lg.button-primary.button-winona.button-shadow-2( href='services-4.html', data-caption-animate='fadeInDown', data-caption-delay='0' ) View our services

	// Swiper Pagination
	.swiper-pagination( data-bullet-custom='true' )

	// Swiper Navigation
	.swiper-button-prev
		.preview: .preview__img
		.swiper-button-arrow
	.swiper-button-next
		.swiper-button-arrow
		.preview: .preview__img

