.swiper-container.swiper-slider.swiper-slider-5( data-loop='true', data-autoplay='5000', data-simulate-touch='false', data-slide-effect='fade' )
	.swiper-wrapper.text-center
		.swiper-slide.context-dark( data-slide-bg='images/welding/slide-1-1470x753.jpg' )
			.swiper-slide-caption.section-md: .container
				h6.oh.swiper-subtitle: span.d-inline-block( data-caption-animate='slideInUp', data-caption-delay='300' ) Welcome to Welding
				h2.swiper-title.oh
					span.d-block( data-caption-animate='slideInDown', data-caption-delay='0' ) #1 Welding
					span.d-block( data-caption-animate='slideInUp', data-caption-delay='0' ) Services Provider
				.button-wrap.oh: a.button.button-lg.button-secondary.button-winona( href= links.services, data-caption-animate='slideInDown', data-caption-delay='300' ) Our services

		.swiper-slide.context-dark( data-slide-bg='images/welding/slide-2-1470x753.jpg' )
			.swiper-slide-caption.section-md: .container
				h6.swiper-subtitle( data-caption-animate='fadeInUp', data-caption-delay='0' ) Providing reliable & innovative welding services
				h2.swiper-title
					span.d-block( data-caption-animate='fadeInLeft', data-caption-delay='250' ) Industry Leading
					span.d-block( data-caption-animate='fadeInLeft', data-caption-delay='400' ) Welding Solutions
				a.button.button-lg.button-secondary.button-winona( href='services-3.html', data-caption-animate='fadeInUp', data-caption-delay='500' ) Our services

		.swiper-slide.context-dark( data-slide-bg='images/welding/slide-3-1470x753.jpg' )
			.swiper-slide-caption.section-md: .container
				h6.oh.swiper-subtitle: span.d-inline-block( data-caption-animate='fadeInDown', data-caption-delay='200' ) 40 Years of high-quality welding services
				h2.swiper-title.oh.d-inline-block
					span.d-block( data-caption-animate='slideInRight', data-caption-delay='0' ) Certified Welding
					span.d-block( data-caption-animate='slideInLeft', data-caption-delay='0' ) Of Any Complexity
				.button-wrap: a.button.button-lg.button-secondary.button-winona( href='services-4.html', data-caption-animate='fadeInUp', data-caption-delay='200' ) Our services
