.swiper-container.swiper-slider.swiper-slider-7( data-loop='true', data-autoplay='5000', data-simulate-touch='false', data-add-slides='1' )
	.swiper-wrapper.text-sm-left
		.swiper-slide( data-slide-bg='images/engineering/slide-1-1697x605.jpg' )
			.swiper-slide-caption.section-md
				.swiper-box
					h6.oh.swiper-subtitle: span.d-inline-block( data-caption-animate='slideInDown', data-caption-delay='500' ) We integrate simplicity #[br]and innovations
					h3.swiper-title.oh
						span.d-block( data-caption-animate='slideInLeft', data-caption-delay='200' ) Wilson
						span.d-block( data-caption-animate='slideInRight', data-caption-delay='200' ) Concert Hall
					h6.swiper-time( data-caption-animate='fadeInLeft', data-caption-delay='500' ): time( datetime='2019-10-15' ) October 15, 2019
					a.button.button-lg.button-icon.button-icon-right.button-gray-3( data-caption-animate='fadeInUp', data-caption-delay='500', href= links.project )
						span.icon.mdi.mdi-chevron-right
						| See details
				.swiper-content-bg-1

		.swiper-slide( data-slide-bg='images/engineering/slide-2-1697x605.jpg' )
			.swiper-slide-caption.section-md
				.swiper-box
					h6.oh.swiper-subtitle: span.d-inline-block( data-caption-animate='slideInLeft', data-caption-delay='500' ) Modern spaces for #[br]better life
					h3.swiper-title
						span.d-block( data-caption-animate='fadeInRight', data-caption-delay='200' ) NY Opera
						span.d-block( data-caption-animate='fadeInRight', data-caption-delay='300' ) House
					h6.swiper-time( data-caption-animate='fadeInUp', data-caption-delay='500' ): time( datetime='2019-03-18' ) March 18, 2019
					.oh.button-wrap: a.button.button-lg.button-icon.button-icon-right.button-gray-3( data-caption-animate='slideInLeft', data-caption-delay='200', href= links.project )
						span.icon.mdi.mdi-chevron-right
						| See details
				.swiper-content-bg-2

		.swiper-slide( data-slide-bg='images/engineering/slide-3-1697x605.jpg' )
			.swiper-slide-caption.section-md
				.swiper-box
					h6.oh.swiper-subtitle: span.d-inline-block( data-caption-animate='slideInUp', data-caption-delay='500' ) Our projects are designed #[br]to last a lifetime
					h3.swiper-title.oh.d-inline-block
						span.d-block( data-caption-animate='slideInDown', data-caption-delay='200' ) Berg Business
						span.d-block( data-caption-animate='slideInUp', data-caption-delay='200' ) Center
					h6.swiper-time( data-caption-animate='fadeInLeft', data-caption-delay='500' ): time( datetime='2019-05-28' ) May 28, 2019
					.oh.button-wrap: a.button.button-lg.button-icon.button-icon-right.button-gray-3( data-caption-animate='slideInDown', data-caption-delay='500', href= links.project )
						span.icon.mdi.mdi-chevron-right
						| See details
				.swiper-content-bg-3


	// Swiper Navigation
	.swiper-navigation__module
		.swiper-pagination__fraction
			span.swiper-pagination__fraction-index
			span.swiper-pagination__fraction-divider /
			span.swiper-pagination__fraction-count
		.swiper-button-prev
		.swiper-button-next

	// Swiper Pagination
	.swiper-pagination( data-bullet-custom='true' )
