section.section.swiper-container.swiper-slider.swiper-slider-2( data-loop='true', data-autoplay='5000', data-simulate-touch='false', data-slide-effect='fade' )
	.swiper-wrapper.text-sm-left
		.swiper-slide.context-dark( data-slide-bg='images/mining/slide-1-1920x753.jpg' )
			.swiper-slide-caption.section-md: .container: .row: .col-sm-8.col-md-7.col-lg-6.offset-lg-1.offset-xxl-0
				h3.oh.swiper-title: span.d-inline-block( data-caption-animate='slideInUp', data-caption-delay='0' ) Reliable mining equipment
				h5.swiper-subtitle( data-caption-animate='fadeInLeft', data-caption-delay='300' ) We use the latest tools & machinery for mining
				a.button.button-lg.button-secondary.button-winona.button-shadow-2( href='#', data-caption-animate='fadeInUp', data-caption-delay='300' ) View more

		.swiper-slide.context-dark( data-slide-bg='images/mining/slide-2-1920x753.jpg' )
			.swiper-slide-caption.section-md: .container: .row: .col-sm-9.col-md-8.col-xl-6.offset-lg-1.offset-xxl-0
				h3.oh.swiper-title: span.d-inline-block( data-caption-animate='slideInDown', data-caption-delay='0' ) Cutting-edge #[br]mining technology
				h5.swiper-subtitle( data-caption-animate='fadeInRight', data-caption-delay='300' ) Integrating innovative mineral production cycle
				.button-wrap.oh: a.button.button-lg.button-secondary.button-winona.button-shadow-2( href='#', data-caption-animate='slideInUp', data-caption-delay='0' ) View more

		.swiper-slide.context-dark( data-slide-bg='images/mining/slide-3-1920x753.jpg' )
			.swiper-slide-caption.section-md: .container: .row: .col-sm-8.col-md-7.col-xl-6.offset-lg-1.offset-xxl-0
				h3.oh.swiper-title: span.d-inline-block( data-caption-animate='slideInLeft', data-caption-delay='100' ) Trusted industry leader
				h5.swiper-subtitle( data-caption-animate='fadeInUp', data-caption-delay='0' ) Mining company with 50 years of experience
				.button-wrap.oh: a.button.button-lg.button-secondary.button-winona.button-shadow-2( href='#', data-caption-animate='slideInLeft', data-caption-delay='100' ) View more

		.swiper-slide.context-dark( data-slide-bg='images/mining/slide-4-1920x753.jpg' )
			.swiper-slide-caption.section-md: .container: .row: .col-sm-10.col-md-8.col-lg-7.offset-lg-1.offset-xxl-0
				h3.oh.swiper-title: span.d-inline-block( data-caption-animate='slideInUp', data-caption-delay='0' ) Professional #[br]mineral exploration
				h5.swiper-subtitle( data-caption-animate='fadeInRight', data-caption-delay='300' ) Delivering the best mining solutions
				.button-wrap.oh: a.button.button-lg.button-secondary.button-winona.button-shadow-2( href='#', data-caption-animate='fadeInDown', data-caption-delay='0' ) View more

	// Swiper Pagination
	.swiper-pagination( data-bullet-custom='true' )

	// Swiper Navigation
	.swiper-button-prev
		.preview: .preview__img
		.swiper-button-arrow
	.swiper-button-next
		.swiper-button-arrow
		.preview: .preview__img

