extends  ../_skeleton

//- Includes
include ../sections/_header-classic
include ../sections/_footer-classic

block variables
	-
		var
			activeCategory = 'pages',
			pageName = 'Search Results';

block page
	// Page Header
	+navbar-classic

	+breadcrumbs({
		category: activeCategory,
		path: [ pageName ],
		bgImage: 'bg-typography'
	})

	// Search results
	section.section.section-lg.bg-default
		.container
			.row.justify-content-center
				.col-lg-9
					// RD Search
					form.rd-form.rd-search.rd-form-inline.rd-form-inline-centered( action='search-results.html', method='GET' )
						.form-wrap
							label.form-label( for='rd-search-form-input' ) Search
							input.form-input( id='rd-search-form-input', type='text', name='s', autocomplete='off' )
						.form-button
							button.button.button-sm.button-primary( type='submit' ) Search

					.rd-search-results

	// Subscribe to Our Newsletter
	include ../sections/_section-newsletter

	// Page Footer
	+footer-classic
